@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #d3f8ff;
  overflow: hidden;
  position: absolute;
}

.wrapper {
  height: 100vh;
  width: 50vw;
  background: #717cf7;
  overflow: hidden;
  color: #d3f8ff;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 0.6px solid #717cf7;
}

.sliding {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
